version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 1
    open-pull-requests-limit: 10
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      eslint-and-prettier:
        patterns:
          - "@eslint/*"
          - "eslint"
          - "eslint-config-prettier"
          - "prettier"
          - "typescript-eslint"
    ignore:
      - dependency-name: "@takeyaqa/pict-wasm"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "ci"
      include: "scope"
